# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build files
build/
dist/
*.spec

# Logs
*.log
*.log.*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.bak

# Environment
.env
.venv/
venv/

# Other
*.ico
*.png
*.json
